:root {
    --primary-color: #e50914;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    --webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul {
    list-style: none;
}

h1, 
h2, 
h3,
h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 70vh;
    position: relative;
    background: url('../img/background.jpg') no-repeat center center/cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 120px 100px 250px #000;
}

/* Header */
.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
    width: calc(96.66% - 6rem);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem 2rem;
    justify-content: space-between;
}

.showcase-top div+div {
    text-align: right;
}

.showcase-top .showcase-logo {
    width: 9.25rem;
    height: 2.5rem;
    display: block;
}

.showcase-top .showcase-data {
    display: inline-block;
}

.showcase-top .showcase-data .custom-select {
    background: transparent;
    color: #fff;
    padding: 0.4rem 1.7rem;
    text-align: right;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none; /*for Safari*/
}

.showcase-data .lang {
    margin-left: 0.5rem;
    position: absolute;
    margin-top: 0.5rem;
    color: white;
}

.showcase-data .arrow {
    margin-left: -1.9rem;
    position: absolute;
    margin-top: 0.5rem;
    color: white;
}

/* Buttons */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.3rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-left: 0.7rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

/* marketing ads, email sign up*/
.showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    flex-basis: 50%;
    max-width: calc(100% - 3rem);
}

.showcase-content h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.1;
    margin: 2rem 0;
}

.showcase-content p {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 0 0 1.5rem;
}

/*Email address sign up*/
.showcase-input {
    max-width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 10rem;
    min-height: 16px;
    min-width: 16px;
}

.showcase-input h3 {
    font-weight: 300;
    font-size: 1.2rem;
    flex: 0 0 auto;
    line-height: 1;
    padding-bottom: 1rem;
}

.showcase-input form {
    position: relative;
    display: grid;
    grid-template-columns: 2fr max-content;
}

.showcase-input input {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.3);
    fill: #000;
}

.showcase-input input ~ span {
    position: absolute;
    left: 12px;
    top: 20px;
    z-index: 3;
    transition: all 0.3s ease;
    pointer-events: none;
}

.showcase-input input:focus {
    cursor: text;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
    outline: 3px solid transparent;
}

.showcase-input input:focus ~ span {
    top: 10px;
    font-size: smaller;
}

.showcase-input button {
    background-color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    vertical-align: text-top;
    border-radius: 5px;
    appearance: none;
    margin-left: 8px;
    padding: 1rem 2rem;
    border: 0;
    cursor: pointer;
}

.showcase-input button:hover {
    opacity: 0.9;
}

@media screen and (max-width: 599.98px) {
    .showcase-top .showcase-data .custom-select {
        width: 0.0625rem !important; /*!important: forces the button to have the exact look*/
        padding-right: 1.75rem !important;
    }
}

@media screen and (max-width: 895px) {
    .showcase-content h1 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.1;
        margin: 0.7rem 0;
    }
    .showcase-content p {
        font-size: 1.125rem;
    }
    .showcase-top {
        width: 100%;
    }
    .showcase-top .showcase-logo {
        width: 5.56rem;
        height: 1.5rem;
        display: block;
    }
    
    .btn {
        padding: 0.4rem 0.7rem;
        font-size: 0.8rem;
    }
    .showcase-input form {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        margin-top: 10px;
    }
    .showcase-input h3 {
        font-size: 1.125rem;
    }
    .showcase-input button {
        margin-left: 0;
        font-weight: 400;
        padding: 1rem 1.5rem;
        font-size: 1.3rem;
    }
}

/* Banner */
.floating-banner {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}

.banner-wrap {
    position: relative;
    margin: 0 74px;
    padding: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient( 51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100% );
    border-radius: 4px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
    margin: 1.5rem;
}

.banner-text h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}
.banner-text p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.banner-text a {
    color: #448ef4;
    text-decoration-line: underline;
    cursor: pointer;
    pointer-events: auto;
}

@media screen and (max-width: 895px) {
    .floating-banner {
        transform: none;
    }
    .banner-wrap {
        margin-left: 0;
        flex-direction: column;
        width: 100%;
    }
    .banner-img {
        position: absolute;
        top: -60px;
        left: 50px;
    }
    .banner-img svg {
        transform: scale(0.8);
    }
    .banner-text {
        text-align: left;
    }
    .banner-text h3 {
        font-weight: 700;
        font-size: 21px;
    }
}

/* Divider */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
    position: relative;
    padding: 3.5rem 0;
}

.div-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: calc(66.66% - 10rem);
    margin: auto;
    flex: 1;
}

.div-text {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: left;
    padding: 1.5rem 1.5rem;
}

.div-text h2 {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.div-text p {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0 0;
}

.div-media {
    position: relative;
    flex-basis: 50%;
}

.div-media.s1 img {
    width: 100%;
    position: relative;
    z-index: 7;
}

.div-media.s1 video {
    width: 80%;
    transform: translate(-50%, -50%);
    height: fit-content;
    position: absolute;
    top: 46%;
    left: 50%;
}

.div-media.s2 img {
    position: relative;
    z-index: 7;
}

.div-media.s2 video {
    width: 60%;
    height: fit-content;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 34%;
    left: 50%;
}

#div-2, #div-4 {
    flex-direction: row-reverse;
}

.div-media.s4 .phone-img {
    position: relative;
    z-index: 0;
}

.download {
    display: flex;
    border: 2px solid #888;
    border-radius: 15px;
    padding: 0.25rem 0.75rem;
    height: 85px;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    justify-self: center;
    position: absolute;
    bottom: 8%;
    left: 50%;
    background-color: #000;
    transform: translateX(-50%);
    margin: 0 auto;
    min-width: 15rem;
    overflow: hidden;
}

.dw-text {
    padding: 0px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 5rem;
    text-align: left;
}

.dw-text span {
    color: #0071eb;
}

.download img {
    height: 75px;
    width: auto;
}

.download .cover {
    margin: 0 1rem 0 0;
}

.div-border {
    width: 100%;
    background-color: rgb(35, 35, 35);
    position: relative;
    height: 0.5rem;
    bottom: -1.5rem;
    margin: 4rem 0;
}

@media screen and (max-width: 895px){
    .container {
        margin-top: 200px;
    }
    .div-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 100%;
    }
    #div-2, #div-4 {
        flex-direction: column;
    }
    .div-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1.5rem 1.5rem;
    }
    .div-text h2 {
        font-size: 2rem;
        font-weight: 700;
    }
    .div-text p {
        font-size: 1.125rem;
        font-weight: 400;
    }
    .div-media {
        position: relative;
        flex: 1;
    }
    .div-media img {
        width: 100%;
    }
    .download {
        height: 70px;
        width: 50%;
        grid-template-columns: max-content max-content max-content;
        padding: 1rem ;
    }
    .download img {
        object-fit: scale-down;
        padding: auto;
        height: 3.75rem;
    }
    .download .cover {
        height: 4.5rem;
        margin: 0 1rem 0 0;
    }
    .dw-text {
        font-size: 1rem;
        padding: 0px;
        margin: 0;
        text-align: left;
    }
}

/*FAQ*/
.faq-display {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 50%;
    max-width: calc(66.66% - 6rem);
    margin: auto;
}

.faq-display > ul li{
    margin: 0.5rem 0 0;
    text-align: left;
}

.faq-display > h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.faq-display h2 {
    background-color: rgb(45, 45, 45);
    margin: 0;
}

.faq-display .faq-btn {
    border: none;
    background: none;
    appearance: none;
    -webkit-appearance: none; /*for Safari*/
    text-decoration: none;
    outline: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    text-align: left;
    box-sizing: content-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.faq-btn svg {
    flex-shrink: 0;
    margin-right: 3.5rem;
    padding: 0;
}

.faq-btn[aria-expanded="true"] svg {
    transform: rotate(-45deg);
}

.faq-display h2:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.faq-content {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: rgb(45, 45, 45);
    padding: 1.5rem;
    margin-top: 0.105rem;
}

.faq-email-signup {
    margin: auto;
    margin-top: 3.5rem;
    max-width: calc(100% - 2rem);
}

.faq-email-signup h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (max-width: 895px) {
    .faq-display {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: calc(100% - 3rem);
    }
    .faq-display > h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .faq-display h2 > span {
        font-size: 1.125rem;
    }
    .faq-display .faq-btn {
        padding: 1.5rem;
        font-size: 1.125rem;
    }
    .faq-content {
        font-size: 1.15rem;
    }
}

/*Footer*/
.footer {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.footer a {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.footer-wrapper .foot-1 { 
    margin-top: -0px;
    margin-left: 0.75rem;
    width: 100%;
    margin-bottom: 12px;
}

.footer-wrapper .foot-2 {
    margin: 0.75rem 0;
    width: calc(100% + .75rem);
    height: inherit;
    font-size: 0.85rem;
}

.foot-2 ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.foot-2 li {
    margin-top: 1rem;
    margin-left: 0.75rem;
    flex: 0 0 calc(25% - 0.75rem);
}

.foot-3 .custom-select {
    background: transparent;
    color: #fff;
    padding: 0.4rem 1.7rem;
    text-align: right;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none; /*for Safari*/
}

.foot-3 .lang {
    margin-left: 0.5rem;
    position: absolute;
    margin-top: 0.5rem;
    color: white;
}

.foot-3 .arrow {
    margin-left: -1.5rem;
    position: absolute;
    margin-top: 0.5rem;
    color: white;
}

.footer-wrapper .foot-3 {
    margin-top: 1rem;
    margin-left: 0.75rem;
    width: 100%;
}

.footer-wrapper .foot-4 {
    margin-top: 1.5rem;
    margin-left: 0.75rem;
    width: 100%;
}

@media screen and (max-width: 895px){
    .footer {
        padding: 0
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
        margin-left: 0rem;
        margin-right: 2rem;
    }
    .footer a {
        font-size: 0.95rem;
    }
    .footer-wrapper .foot-1 { 
        margin-left: 0em;
    }
    .footer-wrapper .foot-2 {
        margin: 0.75rem 0;
        width: calc(100% + 7.75rem);
        height: inherit;
        font-size: 0.65rem;
    }
    .foot-2 li {
        margin-top: 1rem;
        margin-left: 0em;
        flex: 0 0 40%;
    }
    .footer-wrapper .foot-3{
        margin: 0;
    }
    .footer-wrapper .foot-4 {
        margin-left: 0;
    }
}